<div class="expense-container">

  <div class="section-title">
    Expenses
  </div>

  <div class="expense-list">

    @for (expense of sortedExpenses; track expense.id) {

      <div class="expense-card" (click)="onEdit(expense.id)">

        <div class="expense-left">
          <div class="expense-title">
            {{ expense.title }}
          </div>

          <div class="expense-sub">
            Expense
          </div>
        </div>

        <div class="expense-right">
          <div class="expense-amount">
            {{ expense.amount }} €
          </div>

          <div class="chevron">
            ›
          </div>
        </div>

      </div>

    }

  </div>

</div>

<!-- FAB -->
<div class="fab-container">
  <button class="fab-button" (click)="onAdd()">
    +
  </button>
</div>