<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Register</h2>
  <ion-item>
    <ion-input [(ngModel)]="username" placeholder="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="email" placeholder="Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="password" type="password" placeholder="Password"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="register()">
    Login
  </ion-button>

</ion-content>