<div class="expense-container">

    <!-- FORM CARD -->
    <div class="glass-card">

      <!-- TITLE -->
      <div class="input-group">
        <label>Expense name</label>
        <input [(ngModel)]="expenseName" placeholder="e.g. Groceries" />
      </div>

      <!-- AMOUNT -->
      <div class="input-group">
        <label>Amount</label>
        <input type="number" [(ngModel)]="amount" placeholder="0.00" (input)="rebalance()" />
      </div>

      <!-- PAYER -->
      <div class="input-group">
        <label>Paid by</label>
        <div class="paid-by-selector" (click)="openPayerModal()">
          <span>
            {{ getPayerName() || 'Select payer' }}
          </span>
          <span class="chevron">›</span>
        </div>

      </div>

      <!-- Date -->
      <div class="input-group">
        <label>Date</label>
        <input type="date" [(ngModel)]="expenseDate" />
      </div>

    </div>

    <!-- PARTICIPANTS -->
    <div class="participants-card">

      <!-- SPLIT MODE -->
      <div class="split-modes">
        <button [class.active]="splitMode === 'equal'" (click)="splitMode = 'equal'; onSplitModeChange()">
          Equal
        </button>

        <button [class.active]="splitMode === 'exact'" (click)="splitMode = 'exact'; onSplitModeChange()">
          Exact
        </button>

        <button [class.active]="splitMode === 'parts'" (click)="splitMode = 'parts'; onSplitModeChange()">
          Parts
        </button>
      </div>

      <div class="section-title">Participants</div>
      @for (p of participants; track p.id) {
        <div class="participant-row" (click)="toggleParticipant(p)">

          <label class="sp-checkbox">
            <input type="checkbox" [(ngModel)]="p.selected" (click)="toggleParticipant(p)"/>
            <span class="checkmark"></span>
          </label>

          <div class="name">
            {{ p.name }}
          </div>

          <!-- RIGHT SIDE -->
          <div class="right">

            @if (splitMode === 'equal') {
              <span class="amount">
                {{ getParticipantShare(p.id) | number:'1.2-2' }} €
              </span>
            }

            @if (splitMode === 'exact') {
              <input class="small-input"
                  type="number"
                  [(ngModel)]="p.exactAmount"
                  [disabled]="!p.selected"
                  (blur)="onAmountEdit(p)"
                  (click)="$event.stopPropagation()"
                />
            }

            @if (splitMode === 'parts') {
              @if (p.selected) {
                <div class="parts">
                  <button (click)="decreaseParts(p); $event.stopPropagation()">-</button>
                  <span>{{ p.parts }}</span>
                  <button (click)="increaseParts(p); $event.stopPropagation()">+</button>
                </div>
              }

              <span class="amount">
                {{ getPartShare(p) | number:'1.2-2' }} €
              </span>
            }
          </div>

        </div>
      }
    </div>

    <!-- TOTAL -->
    <div class="total-bar">
      <span>Total</span>
      <span>
        {{ getExactTotal() | number:'1.2-2' }} / {{ amount || 0 | number:'1.2-2' }} €
      </span>
    </div>

  </div>

  @if (isPayerModalOpen) {
  <div class="modal-backdrop" (click)="isPayerModalOpen = false"></div>
    <div class="modal">

      <div class="modal-header">
        <span>Select payer</span>
      </div>

      <div class="modal-list">
        @for (p of participants; track p.id) {

          <div class="payer-item"
              [class.active]="p.id === payerId"
              (click)="selectPayer(p)">

            <div class="avatar">
              {{ p.name.charAt(0).toUpperCase() }}
            </div>

            <div class="name">
              {{ p.name }}
            </div>

            @if (p.id === payerId) {
              <div class="check">✓</div>
            }

          </div>

        }

      </div>
  </div>
}