<ion-header>
  <ion-toolbar>
    <ion-title>Dépenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    @for (expense of expenses; track expense.id) {

      <ion-item button detail="true" (click)="goToEditExpense(expense.id)">
        {{ expense.title }} - {{ expense.amount }}€
      </ion-item>

    }
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToAddExpense()">
      +
    </ion-fab-button>
  </ion-fab>

  <ion-button expand="full" (click)="generateInvite()">
    Générer lien d'invitation
  </ion-button>

  @if(inviteLink) {
    <ion-card-header>
        <ion-card-title>Lien d'invitation</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ inviteLink }}</p>

      <ion-button size="small" (click)="copyLink()">
        Copier
      </ion-button>
    </ion-card-content>
  }

</ion-content>
