<app-header title="Group details" [showBack]="true"></app-header>

<ion-content class="group-bg">

  <div class="view-switch">

    <button
      [class.active]="viewMode === 'expenses'"
      (click)="setView('expenses')">
      💸 Expenses
    </button>

    <button
      [class.active]="viewMode === 'balance'"
      (click)="setView('balance')">
      ⚖️ Balance
    </button>

  </div>

  @if (viewMode === 'expenses') {
    <app-expenses-list
      [expenses]="expenses"
      (add)="goToAddExpense()"
      (edit)="goToEditExpense($event)">
    </app-expenses-list>
  }
  
  @if (viewMode === 'balance') {
    <app-balance-list [balances]="balances"></app-balance-list>
  }

  <div class="invite-section">
    <ion-button expand="block" (click)="generateInvite()">
      Generate invite link
    </ion-button>
  
    @if(inviteLink) {
      <div class="invite-card">

        <div class="invite-link">
          {{ inviteLink }}
        </div>

        <ion-button size="small" (click)="copyLink()">
          Copy
        </ion-button>

      </div>
    }
  </div>

</ion-content>
