<app-header title="Group details" [showBack]="true" [actions]="headerActions"></app-header>

<ion-content class="group-bg">

  <div class="view-switch">

    <button
      [class.active]="viewMode === 'expenses'"
      (click)="setView('expenses')">
      💸 Expenses
    </button>

    <button
      [class.active]="viewMode === 'balance'"
      (click)="setView('balance')">
      ⚖️ Balance
    </button>

  </div>

  @if (viewMode === 'expenses') {
    <app-expenses-list
      [expenses]="expenses"
      (add)="goToAddExpense()"
      (edit)="goToEditExpense($event)">
    </app-expenses-list>
  }
  
  @if (viewMode === 'balance') {
    <app-balance-list [balances]="balances"></app-balance-list>
  }

</ion-content>
