<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>

    @if (!isLoggedIn()){
      <ion-button slot="end" (click)="goToLogin()">
        Se connecter
      </ion-button>
    }
    @else {
      <div slot="end" style="display:flex; align-items:center; gap:10px;">
        <span>
          {{ username }}
        </span>

        <ion-button (click)="logout()">
          Logout
        </ion-button>

      </div>
    }

  </ion-toolbar>
</ion-header>

<ion-button (click)="goToGroups()">
  Mes groupes
</ion-button>
