ion-content {
  --background: linear-gradient(
    180deg,
    #0f172a 0%,
    #0b1220 100%
  );
}

ion-fab-button {
  --background: var(--sp-primary-soft);
}

.home-header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
  padding-bottom: 20px;
}

.app-logo {
  width: 120px;
  height: auto;

  opacity: 0.95;

  filter: drop-shadow(0 6px 20px rgba(139, 92, 246, 0.25));

  transition: transform 0.2s ease, opacity 0.2s ease;
  
}

.app-logo:active {
  transform: scale(0.97);
  opacity: 0.85;
}


.groups-container {
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.glass-card {
  height: 70px;
  width: 50%;
  margin: 0 auto;   //center

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 16px;

  background: var(--sp-glass);
  backdrop-filter: blur(var(--sp-blur));

  border: 1px solid var(--sp-border);

  color: var(--sp-text);

  font-size: 18px;
  font-weight: 500;

  transition: all 0.2s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);

  cursor: pointer;
}

.glass-card:active {
  transform: scale(0.98);
  background: rgba(139, 92, 246, 0.15);
}

.glass-card:hover {
  transform: translateY(-2px);
  border-color: rgba(139, 92, 246, 0.4);
  box-shadow: 0 10px 30px rgba(139, 92, 246, 0.15);
}

ion-fab-button.sp-fab {
--background: var(--sp-primary);
--background-activated: rgba(139, 92, 246, 0.65);
--background-hover: rgba(139, 92, 246, 0.55);

  width: 62px;
  height: 62px;

  font-size: 22px;

  border-radius: 50%;

  backdrop-filter: blur(5px);

  border: 1px solid rgba(255, 255, 255, 0.18);

  box-shadow:
    0 12px 30px rgba(139, 92, 246, 0.35),
    0 6px 15px rgba(0, 0, 0, 0.3);

  transition: transform 0.18s ease, box-shadow 0.18s ease, filter 0.18s ease;
}

ion-fab-button.sp-fab:active {
  transform: translateY(2px) scale(0.96);

  box-shadow:
    0 8px 20px rgba(139, 92, 246, 0.25),
    0 4px 10px rgba(0, 0, 0, 0.3);

  filter: brightness(0.95);
}

.empty-state {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 20px;
  color: var(--sp-text);
}

.empty-state h2 {
  font-size: 22px;
  margin-bottom: 8px;
}

.empty-state p {
  opacity: 0.7;
  margin-bottom: 20px;
}