<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>

      <ion-button slot="end" *ngIf="!isLoggedIn()" (click)="goToLogin()">
        Se connecter
      </ion-button>

      <ion-button slot="end" *ngIf="isLoggedIn()" (click)="logout()">
        Connecté (logout)
      </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
