<app-header  title="Register" [showBack]="true"> </app-header>

<ion-content class="ion-padding">

  <!-- NOM GROUPE -->
  <ion-item>
    <ion-input [(ngModel)]="groupName" name="groupName" placeholder="Nom du groupe">
    </ion-input>
  </ion-item>

  <!-- PARTICIPANTS -->
  <ion-list>
    @for (p of participants; track $index) {
      <ion-item>
        <ion-input [(ngModel)]="participants[$index]" name="participant-{{$index}}" placeholder="Nom du participant">
        </ion-input>

        <ion-button fill="clear" slot="end" (click)="removeParticipant($index)">
          ❌
        </ion-button>

      </ion-item>

    }

  </ion-list>

    <ion-button expand="full" (click)="addParticipantField()">
    + Ajouter un participant
  </ion-button>

  <!-- CREATE -->
  <ion-button expand="full" color="primary" (click)="createGroup()">
    Créer le groupe
  </ion-button>

</ion-content>