<app-header title="Create group" [showBack]="true"></app-header>

<ion-content class="create-bg">

  <div class="create-container">

    <!-- CARD -->
    <div class="glass-form">

      <!-- GROUP NAME -->
      <div class="input-group">
        <label>Group name</label>
        <input [(ngModel)]="groupName" placeholder="e.g. Weekend trip"/>
      </div>

      <!-- PARTICIPANTS -->
      <div class="participants">

        <label>Participants</label>

        @for (p of participants; track $index) {
          <div class="participant-row">

            <input [(ngModel)]="participants[$index]" placeholder="Name"/>

            @if($index !== 0){
              <button class="remove-btn" (click)="removeParticipant($index)">
                ✕
              </button>
            }
            @else {
              <span class="you-badge">You</span>
            }

          </div>
        }

        <button class="add-btn" (click)="addParticipantField()">
          + Add participant
        </button>

      </div>

          @if (errorMessage) {
        <div class="error-box">
          {{ errorMessage }}
        </div>
      }
    </div>

  </div>

</ion-content>

<!-- CTA FIXED -->
<div class="bottom-bar">
  <button class="create-btn" (click)="createGroup()" [disabled]="!isFormValid()">
    Create group
  </button>
</div>